<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>Uni Web</title>


</head>
<body layout:fragment="body">
    
    <!-- Hero -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-heading text-xxl">
                    You arrived the website of the students at the Open University. Welcome!
                </h1>
                <p class="hero-text">
                    Everything you need is right here.
                </p>
                <div class="hero-buttons">
                    <a href="#"
                       class="btn btn-primary">Get Started</a>
                    <a href="#"
                       class="btn"
                    ><i class="fas fa-laptop"></i> Book a Demo</a
                    >
                </div>
            </div>
        </div>
    </section>
    
    <!-- Testimonials -->
    <section class="testimonials bg-black">
        <div class="container-xsm">
            <h3 class="testimonials-heading text-xl">
                Students In Social
            </h3>
            <div class="testimonials-grid">
                <div class="card">
                    <h4 class="card-title">Telegram</h4>
                    <a target="_blank"
                       href="https://t.me/OpenuCS">
                        <i class="card-icon telegram fa-brands fa-telegram"
                        ></i></a>
                </div>
                
                <div class="card">
                    <h4 class="card-title">WhatsApp</h4>
                    <a target="_blank"
                       href="https://api.whatsapp.com/send/?phone=97297782222&text&type=phone_number&app_absent=0">
                        <i class="card-icon whatsApp fa-brands fa-whatsapp"
                        ></i></a>
                </div>
                
                <div class="card">
                    <h4 class="card-title">Mega</h4>
                    <a target="_blank"
                       href="https://t.me/OpenuCS">
                        <img th:src="@{/images/mega.png}"
                             class="card-icon"
                        ></img></a>
                </div>
                <div class="card">
                    <h4 class="card-title">Facebook</h4>
                    <a target="_blank"
                       href="https://t.me/OpenuCS">
                        <i class="card-icon facebook fa-brands fa-facebook"
                        ></i></a>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- FAQ -->
    <section id="questions"
             class="faq bg-light">
        <div class="container-sm">
            <h3 class="text-xl text-center">Frequently Asked Questions</h3>
            <ul class="faq-menu">
                <li class="active">All</li>
                <li>Getting Started</li>
                <li>Pricing</li>
            </ul>
            <div class="faq-content">
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            How does the contact management feature help me keep track of
                            clients and partners?
                        </h4>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="faq-group-body open">
                        <p>
                            Keep track of your contacts, gain valuable insights, analyse
                            live data and performance metrics.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            Can I customize the dashboards and reporting feature to display
                            the metrics that are most important to my business?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
                            culpa enim blanditiis rem ipsum aliquam, unde iste fugit
                            praesentium eos?
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            How does the task management feature help me delegate tasks to
                            my team and track progress?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Incidunt, a! Quaerat, voluptatum. Animi molestias ex quasi
                            explicabo minima perferendis commodi.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            Can I collaborate with my team in real-time using all tools?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Obcaecati doloremque assumenda aut dolorem recusandae quibusdam
                            aliquid. Repellat animi quam vitae.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">Is the app available on all devices?</h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Obcaecati doloremque assumenda aut dolorem recusandae quibusdam
                            aliquid. Repellat animi quam vitae.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            How does the app help me stay compliant when working with
                            freelancers and contractors?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Obcaecati doloremque assumenda aut dolorem recusandae quibusdam
                            aliquid. Repellat animi quam vitae.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
