<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>Uni Web</title>


</head>
<body layout:fragment="body">
    
    <!-- Hero -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-heading text-xxl">
                    You arrived the website of the students at the Open University. Welcome!
                </h1>
                <p class="hero-text">
                    Everything you need is right here.
                </p>
                <div class="hero-buttons">
                    <a href="#"
                       class="btn btn-primary">Get Started</a>
                    <a href="#"
                       class="btn"
                    ><i class="fas fa-laptop"></i> Book a Demo</a
                    >
                </div>
            </div>
        </div>
    </section>
    
    <!-- Testimonials -->
    <section class="testimonials bg-black">
        <div class="container-xsm">
            <h3 class="testimonials-heading text-xl">
                Students In Social
            </h3>
            <div class="testimonials-grid">
                <div class="card">
                    <h4 class="card-title">Telegram</h4>
                    <a target="_blank"
                       href="https://t.me/OpenuCS">
                        <i class="card-icon telegram fa-brands fa-telegram"
                        ></i></a>
                </div>
                
                <div class="card">
                    <h4 class="card-title">WhatsApp</h4>
                    <a target="_blank"
                       href="https://api.whatsapp.com/send/?phone=97297782222&text&type=phone_number&app_absent=0">
                        <i class="card-icon whatsApp fa-brands fa-whatsapp"
                        ></i></a>
                </div>
                
                <div class="card">
                    <h4 class="card-title">Mega</h4>
                    <a target="_blank"
                       href="https://mega.nz/folder/0Sg0iD4B#0OPF1JJgFjtYoJuStlsCtA">
                        <img th:src="@{/images/mega.png}"
                             class="card-icon"
                        ></img></a>
                </div>
                <div class="card">
                    <h4 class="card-title">Facebook</h4>
                    <a target="_blank"
                       href="https://www.facebook.com/groups/cs.students.openu?locale=he_IL">
                        <i class="card-icon facebook fa-brands fa-facebook"
                        ></i></a>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- FAQ -->
    <section id="questions"
             class="faq bg-light">
        <div class="container-sm">
            <h3 class="text-xl text-center">Frequently Asked Questions</h3>
            <ul class="faq-menu">
                <li class="active">All</li>
                <li>Getting Started</li>
                <li>Pricing</li>
            </ul>
            <div class="faq-content">
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            Is it free here?
                        </h4>
                        <i class="fas fa-minus"></i>
                    </div>
                    <div class="faq-group-body open">
                        <p>
                            Yes! Absolutely. <br>Nothing here will cost you any money.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            What can I find here?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Great question!<br>You can find here courses information ,course and degree grade
                            calculators, our social media links, and more!
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            Can I use Uni-Web without registering?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Yes. <br>However, you won't be able to use all of our features.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            What features are only available to registered users?
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Degree calculator and building school program.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">Is there an interface of the student data with the university website?</h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            No.
                            You will have to enter all the data of the courses you studied, but it will be one time, the
                            data will of course be saved.
                        </p>
                    </div>
                </div>
                
                <div class="faq-group">
                    <div class="faq-group-header">
                        <h4 class="text-md">
                            Adding another question
                            <!--                   TODO         -->
                        </h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="faq-group-body">
                        <p>
                            Adding another answer
                            <!--                   TODO         -->
                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
